ion-img{
    display: block;

  margin: auto;
 }
  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    font-weight: bold;
  }
  h1{
    
    font-size: 25px;
    
    font-weight: bold;
    color:black;
  }
  ion-button{
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    
  }
  .centrar-boton-ionic{
    text-align: center;
  }