<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <h5> "Nunca es tarde para aprender"  </h5>
    <h1> ¡Realiza tu examen! </h1> 
      <h4> Muchas felicidades. Terminando el curso estarás list@ para presentar el examen de certificación.
      </h4> 

      <ion-img src='./../../assets/intro/ofi.jpeg' alt="1"> </ion-img> 
      <ion-img src='./../../assets/intro/line.png'   alt="2"></ion-img>

      
        <h3> Milca Palomino Rodríguez </h3> 
        <h5> Coordinadora de Amoxtlic </h5>
          <h4> En caso de tener alguna duda o sugerencia respecto a los videos, temas y la app, pueden contactarla</h4> 
          <h4> Cel. 462 246 4867</h4> 
          <h4> C.e. milca020107@gmail.com</h4>  <Br>
            <ion-img src='./../../assets/intro/line.png'   alt="2"></ion-img>


            <h3> Steffany Romo</h3> 
            <h5> Fotografía </h5>
              <h4> Pueden contactar al estudio fotográfico. </h4> 
              <h4> Facebook. SteffanyRomoFoto</h4> 
              <h4> Instagram. steffanyromofoto</h4> 

               <Br>
                <ion-img src='./../../assets/intro/line.png'   alt="2"></ion-img>
          <h1> ¡Mucho éxito! </h1> 
          <h4>Todo el equipo está a tus órdenes.
          </h4> <Br>

          <p> Amoxtlic</p>
         
</ion-content>
