<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Muro de la fama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <h5> "Nunca es tarde para aprender"  </h5>
  <h2> ¿Una comunidad? No </h2> 
  <h1> Una familia </h1> 
  <h4> Amoxtlic nació como una idea para dar más oportunidades. Y se empieza por la educación, ¿qué mejor que impulsarla y apoyarla?
  </h4> 
  <ion-img src='./../../assets/intro/icon.png'  style="width:25%"  alt="2"></ion-img>
  <h4> Pero para que este proyecto se volviera una realidad que pudiera empezar a cambiar al mundo se necesitó de muchas personas.  
  </h4> 
  <h4> Nuestra segunda misión para trascender fue juntar a la comunidad de Irapuato. Abrimos una convocatoria, y cualquiera 
    podía ser voluntario y sumar. Dejaremos una huella. ¡Gracias!  
  </h4> 
  <ion-img src='./../../assets/intro/line.png'   alt="2"></ion-img>
  <h2> ¡Conoce al equipo! 
  </h2> 
  
  <h2> Milca Palomino  </h2> 
  <h5> Fundadora de Amoxtlic </h5> 
  <ion-img src='./../../assets/intro/yo.jpeg' style="width:50%" alt="2"></ion-img>
  <h4> "Los planes que dejan huella comienzan siendo fragmentos de una memoria. Que poco a poco sacarás de tu mente para que el alma lo 
    transforme en una realidad. Lo cual los pueblos compartirán. Es el acto más sincero que surge de tu verdad" -Alba y ocaso.  Ella creó este proyecto con la esperanza de causar un cambio en la sociedad. 
  </h4> 
  <ion-img src='./../assets/intro/b.png' style="width:15%" > </ion-img>
  
  <h2> HighPoint International School </h2> 
  <h5> By Tecnológico de Monterrey </h5> 
  <h4> Sin el soporte de los docentes de HighPoint la creación de los videos no hubiera sido posible.
  </h4> 
  <ion-img src='./../../assets/intro/secu.jpeg' alt="2"></ion-img> <br> 

  <h2> Steffany Romo Studio </h2> 
  <h5> Estudio fotográfico </h5> 
  <h4> Un especial agradecimiento al estudio Steffany Romo por la donación de las fotografías.
  </h4> 
  <ion-img src='./../../assets/intro/romo.jpeg' style="width:75%" alt="2"></ion-img> <br> 


  <h2> Voluntarios </h2> 
  <h4> Nos apoyaron más de 50 personas de Irapuato y sus alrededores. ¡Gracias!
  </h4> 
  <ion-img src='./../../assets/intro/vo.png'   alt="2"></ion-img>
  <ion-img src='./../../assets/intro/vol.png'   alt="2"></ion-img>
  <ion-img src='./../../assets/intro/volu.png'   alt="2"></ion-img>
  <ion-img src='./../../assets/intro/v.png'   alt="2"></ion-img>
  <p> Amoxtlic</p>

</ion-content>
