<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img src='./../../assets/intro/a.png'></ion-img>
  <h5> "Nunca es tarde para aprender"  </h5><Br> 
  <h1> Impulsando futuros. </h1> 
    <h4> Amoxtlic es un proyecto que nace por la necesidad de tener un mejor porvenir debido a la carencia
      de recursos para finalizar los estudios. 
    </h4> 
    <ion-img src='./../../assets/intro/futr.jpeg'   alt="2"></ion-img>
    <h4> Estamos seguros de que la educación abre puertas y da más oportunidades. Por eso entre todos lo haremos posible. </h4> <br>
    <div class="centrar-boton-ionic">
      <ion-button class="button button-block button-positive" color="warning" >
       
        "Será una realidad"
      </ion-button>
  </div><br>
  <h1> ¿Cómo? </h1> 
  <h4> Creamos una aplicación que no usa internet para que todos podamos usarla. En ella hay videos explicando los temas que vendrán 
    en el examen de certificación de secundaria y primaria. Y está hecho para todos aquellos que quieran finalizarla de manera rápida y sencilla.
  </h4> 
  <ion-img src='./../../assets/intro/tel.jpeg' style="width: 60%;"  alt="2"></ion-img>
  <h1> ¡Para siempre! </h1> 
  <h4> Con esta app puedes prepararte para tu examen de certificación de secundaria y primaria. Así estarás un paso más cerca 
    de lograr todo lo que imagines. 
  </h4> 
  <ion-img src='./../../assets/intro/infinito.png' style="width: 15%;"  alt="2"></ion-img>

<br>
<h1> A todos lados</h1> 
<h4> El proyecto inicia en Irapuato y sus alrededores. Pero no nos detendremos, y llegaremos mucho más lejos. 
</h4> 
<ion-img src='./../../assets/intro/ata (1).jpeg'   alt="2"></ion-img>
<h4> Y no te preocupes, si tienes alguna duda, sugerencia, pregunta o comentario... ¡Contáctanos! 
</h4> 
<p> Amoxtlic</p>
</ion-content>
